doctype html
html
  head
    title= title 
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body   
    .container
      block content
    block footer
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/jquery.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      script(type='text/javascript' src='/javascripts/functions.js')
        script(src='/javascripts/des.js')